.main-container{
    font-family: "Lato", sans-serif;
    min-width: 100vw;
    background-color: #F1F0E2;
    min-height: 100vh;
    overflow-x: hidden;
}
.header-container{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    /* align-items: right; */
}
.nav-buttons-container{
    display: flex;
    float: right;
    flex-direction: row;
    justify-content: right;
    align-items: right;
}
.nav-button:hover{
    cursor:pointer;
}
.nav-button{
    margin-right: 2vw;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 56px;
    color: #0F4C81;

}
.button-container{
    background-color: #0F4C81;
    border-radius: 16px;
    margin-right: 4vw;
    padding-right: 3%;
    align-items: center;
    display: flex;
}
.button-text{
    padding-top: 4%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 4%;
    color: #F1F0E2;
    white-space: nowrap;
    display: flex;
    font-family: "Lato", sans-serif;


}
.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 15vw;
}
.home-heading{
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #6A1A4C;
    line-height: 60px;
    margin-bottom: 2vw;
}

.home-container{
    width: 600px;
    margin-left: 6vw;
    margin-top: 15vh;
    min-height: 55vh;

}
.home-paragraph{
    font-family: "Lato", sans-serif;
    color: #2A2A35;
    font-size: 20px;
    margin-bottom: 4vh;
}
.footer-container{
    justify-content: center;
    margin-bottom: 4vh;
    margin-top: 4vh
}
.footer-text{
    font-family: "Lato", sans-serif;
    color: #2A2A35;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
.range-div{
    width : 25vw;
}
.values-text{
    font-size: 15px;
    font-weight: lighter;

}
.name-button{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    color: #2A2A35;
}

.name-x-button{
    margin-right: 5px;
    cursor:pointer;
    font-weight: bolder;
    color: #2A2A35;
}

.name-x-button:hover{
    cursor:pointer;
}

.selected-button{
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    padding-right: 1vw
}

.selected-button:hover{
    cursor:pointer;
}

.unselected-button{
    font-size: 15px;
    padding-right: 1vw
}

.unselected-button:hover{
    cursor:pointer;
}

.ratingbuttons-container{
    display: flex;
    flex-direction: row;
}

.filters-container{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    width: 85%
}

.filters-column{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-right: 3vw;
}

.search-container{
    width: 20vw;
}

.analytics-container{
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
}

.analytics-title{
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 2vh;
    color: #6A1A4C
}

.ratings-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

.range-container{
    display: flex;
    flex-direction: column;

}

.values-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh
}

.jwfbbd {
    font-size: 10px;
    padding: 10px 20px;
    height: 30px;
    border: 0px solid #cacaca96;
    border-radius: 50px;
    color: #2A2A35;
    background-color: rgba(15, 76, 129, 0.2);
    font-family: "Lato", sans-serif;
}

.horizantal-line{
    margin-top: 5vh;
    width: 1200px;
    height: 0px;
    border: 1px solid #6A1A4C;
    border-radius: 75px
}

.analytics-header{
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 2vh;
    color: #6A1A4C
}

.dhRPyo {
    margin: 0px 0 0;
}

.analytics-content-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 2vh;
}

.analytics-result-container{
    margin-right: 5vw;
    width: 45vw;
    text-align: center;
}

.analytics-movies-container{
    margin-right: 5vw;
    width: 45vw;
    text-align: center;
}

.analtics-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-container{
    display: flex;
    flex-direction: row;
    width : 90%;
    align-items: left;
    justify-content: left;
    margin-bottom: 1vh;
    font-size: 18px;
    color: #2A2A35;
    padding-left: 3vw;
    padding-right: 1vw;
}

.stat-text-header{
    margin-right: 1vw;
    display: flex;
    font-weight: bold;
}

.stat-text-body{
    display: flex;
}

.search-list{
    height: 20vh;
    overflow-y: scroll;
}

.analytics-movies{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 45vw;
    padding-left: 8vw;
    padding-right: 1vw;
    height: 60vh;
    overflow-y: scroll;
}

.movie-info-container-unselected{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    width: 35vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-bottom: 2vh;
    min-height: 10vh;
}

.movie-info-container-selected{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    width: 35vw;
    background-color: rgba(15, 76, 129, 0.2);
    border-radius: 10px;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-bottom: 2vh;
    min-height: 20vh;
}

.movieinfo-text-body-container{
    display: flex;
    flex-direction: row;
}

.movieinfo-text-body{
    padding-right: 1vw;
    font-weight: lighter;
}

.movieinfo-text-title{
    font-weight: bold;
    margin-bottom: 0.5vh;
    display: flex;
}

.movieinfo-text-title:hover{
    cursor:pointer;
}

.movieinfo-text-summary{
    display: flex;
    text-align: left;
    font-weight: lighter;

}
